body{
  background-image: url("images/wood.png")
}
.container{
  margin: 0 auto;
  text-align: center;
 }

h2{
  font-family: 'Life Savers', cursive;
  font-size: 45px;
  padding: 15px;
  text-align: center;
  background-color: #009989;
  border-bottom: 5px solid #FC9D9A;
  border-top: 5px solid #FC9D9A;
  color: #EDB92E !important;
  text-shadow: 1px 2px 2px white;
}

img{
  border-radius: 2em;
  border: 4px solid #009989;
}

